@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --cor-principal: rgb(13, 7, 66);
    --cor-fundo: rgb(13, 9, 87);
}
body{
    background-color: var(--cor-fundo);
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Header */
header{
    position: relative;
    height: auto;
    display: flex;
    padding: 0 2%;
    background-color: var(--cor-principal);
    color: white;
}
header .logo{
    height: 100%;
    padding: calc(70px / 4) 0;
}
header h1{
    font-weight: 400;
}
.logo{
    width: 90%;
}

/* icon menu */
.icon{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    display:flex;
    flex-direction:column;
    width: 30px;
    cursor:pointer;
    align-items: flex-end;
}
   
.icon span{
    background: #fff;
    border-radius:10px;
    height: 4px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
}
   
   
.icon span:nth-of-type(1){
    width:50%;
     
}
   
.icon span:nth-of-type(2){
    width:100%;
}
   
   
.icon span:nth-of-type(3){
    width:75%;
    
}
   
   
.icon input[type="checkbox"]{
    display:none;
}


.icon input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(0px, 10px);
    opacity: 0;
}


.icon input[type="checkbox"]:checked ~ span:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg);
    width: 100%;
}


.icon input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
    transform-origin:bottom;
    width:100%;
    transform: translate( 0px,-11px) rotatez(45deg);

}
/* fim icon menu */
/* form add cliente */
.addcliente{
    text-align: center;
    position: fixed;
    right: 0;
    top: 70px;
    width: 300px;
    height: auto;
    background-color: var(--cor-principal);
    transition: 0.5s ease;
}
.close{
    right: -300px;
}
.text_form h3{
    padding: 20px 0;
}
.form{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 5%;
}
.form input {
    text-align: center;
    height: 30px;
    width: calc(100% - 40px);
    border-radius: 30px;
    margin: 10px 20px;
    margin-bottom: 20px;
    padding: 0 10px;

}
.form input[type='submit']{
    width: 70%;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(136, 0, 255, 0.418);
    height: 30px;
    margin: 30px 0;
}
.form select{
    text-align: center;
    height: 30px;
    width: calc(100% - 160px);
    border-radius: 30px;
    margin-bottom: 20px;
}
.form form .label{
    margin: 0 30px;
}
.form form .label:nth-last-of-type(1) span{
    margin: 0 10px;
}
.form form .label:nth-last-of-type(2) span{
    margin: 0 22px;
}
.form form .label:nth-last-of-type(3) span{
    margin: 0 29px;
}
/* fim Header */
/* Table Cliente */
.Tabela_cliente{
    width: 100%;
    margin: 20px 0;
}
.Tabela_cliente h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.Tabela_cliente table{
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    color: white;
}
.Tabela_cliente_titulo th{
    padding: 10px 20px;
    color: rgb(13, 85, 255);
    border-bottom: 1px solid white;
}
.Tabela_cliente_informação td{
    padding: 10px 10px;
} 
.Tabela_cliente_informação td a{
    padding: 0 10px;
    margin: 0 4px;  
    text-decoration: none;
    font-weight: 600;
    background-color: green;
    border-radius: 5px;
    color: white;
}
.Tabela_cliente_informação td a:first-of-type{
    background-color: red;
    color: black;   
}
/* fim table cliente */
/* inicio do formulario de edição do cliente */
.editar_main{
    display: none;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
}
.editar_main .close_btn{
    cursor: pointer;
    width: 20px;
    position: relative;
    left: 1%;
    top: 1%;
}
.editar_container{
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 4px black ;
    padding: 0 1%;
}
.editar_container h2{
    text-align: center;
    color: rgb(0, 22, 73);
    padding: 10px;
    
}
.editar_container form input{
    text-align: center;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 5px 10px;

}
.editar_container form select{
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}
.editar_container form .span_edt{
    padding: 0px 19px;
}
.editar_container form .span_edt2{
    padding: 0 12px;
}
.editar_container form input[type='submit']{
    border-radius: 20px;
    width: 60%;
    margin: 20px 20%;
    padding: 5px 0;
    cursor: pointer;
    background-color: rgb(13, 85, 255);
    color: white;
    border: none;
}
/* fim editar cliente */
/* inicio editar movimentação */
.editar_main1{
    display: none;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
}
.editar_main1 .close_btn{
    cursor: pointer;
    width: 20px;
    position: relative;
    left: 1%;
    top: 1%;
}
.editar_main1 > .editar_container form select{
    padding: 5px 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.editar_main1 > .editar_container form input{
    border: 1px solid gray;
}